<section class="container mt-12 lg:mt-24 mx-auto" id="work">
  <div class="relative">
    <h2
      class="text-4xl font-bold relative inline-block after:content-[''] after:absolute after:left-0 after:-bottom-3 after:w-1/2 after:h-1 after:bg-accent after:rounded-lg"
    >
      Work
    </h2>
  </div>

  <div class="flex flex-col lg:flex-row lg:gap-[30px] mt-12">
    <div
      class="w-full lg:w-1/2 flex flex-col lg:justify-between order-2 lg:order-none"
    >
      <div class="flex flex-col gap-8">
        <div class="hidden lg:text-8xl leading-none font-extrabold">
          {{ currentProject().num }}
        </div>
        <h2
          class="text-3xl lg:text-[42px] font-bold leading-none text-white group-hover:text-accent transition-all duration-500"
        >
          {{ currentProject().title }}
        </h2>
        <p class="text-white/80">{{ currentProject().description }}</p>
        <ul class="flex gap-4 flex-wrap">
          @for (stack of currentProject().stack; track $index) {
          <li
            class="text-accent px-4 py-2 rounded-full text-sm cursor-pointer border-accent border tracking-wider"
          >
            {{ stack }}
          </li>
          }
        </ul>
        <div class="border border-white/20"></div>
        <div class="flex items-center gap-4">
          <button
            class="w-16 h-16 rounded-full bg-white/5 flex justify-center items-center group"
            (click)="openLink(currentProject().liveUrl)"
          >
            <ng-icon
              name="featherArrowUpRight"
              class="text-white text-3xl group-hover:text-accent"
            ></ng-icon>
          </button>
          <button
            class="w-16 h-16 rounded-full bg-white/5 flex justify-center items-center group text-white"
            (click)="openLink(currentProject().githubUrl)"
          >
            <ng-icon
              name="faBrandGithub"
              class="text-white text-3xl group-hover:text-accent"
            ></ng-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="w-full lg:w-1/2">
      <div class="relative">
        <swiper-container
          class="lg:h-[520px] -mb-16 lg:mb-12"
          space-between="30"
          slides-per-view="1"
          #swiper
        >
          @for (project of allProject; track $index) {
          <swiper-slide class="w-full">
            <div class="h-96 relative group flex justify-center items-center rounded-lg">
              <div class="relative w-full h-full rounded-lg">
                <img
                  [src]="project.image"
                  [alt]="project.title"
                  class="object-cover rounded-xl overflow-hidden cursor-pointer"
                />
              </div>
            </div>
          </swiper-slide>
          }
        </swiper-container>
        <app-work-slider-buttons
          containerStyle="flex gap-3 absolute right-0 bottom-[calc(50%_-_-20px)] lg:-bottom-6 z-20 w-full justify-between lg:w-max lg:justify-none"
          btnStyles="w-14 h-14 rounded-full bg-white/50 lg:bg-white/5 flex justify-center items-center group"
          iconStyles="text-accent lg:text-white group-hover:text-accent font-bold shadow-2xl lg:shadow-none"
          (onPrev)="onPrevSlide()"
          (onNext)="onNextSlide()"
        />
      </div>
    </div>
  </div>
</section>
