<div class="container mt-24 mb-8 flex gap-6 flex-col">
  <div class="flex flex-col gap-4">
    <h1 class="text-5xl font-medium text-accent">Ihsan</h1>
    <div class="flex justify-between items-center">
      <div class="flex flex-col gap-2">
        <p class="leading-snug">
          Got something in mind that you'd like me to work on? Don't hesitate to
          reach out! <br />
          Find me on social media and let's make it happen!
        </p>
      </div>
      <app-social
        containerClass="flex gap-6"
        iconStyle="w-9 h-9 border border-accent rounded-full flex justify-center 
        items-center text-accent text-base hover:bg-accent 
        hover:text-primary hover:transition-all duration-500"
      >
      </app-social>
    </div>
  </div>
  <div class="border border-white/20"></div>
  <p class="text-white/80">
    &copy; {{ currentYear }} Ihsan Nurul Habib. Made with <span class="text-accent text-xl">❤️</span> by Angular
  </p>
</div>
